
.date {
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

input[type=date] {
  height: 35px;
  margin: 0 auto;
  width: 100%;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: lighten(#2f2f2f,40%);
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
  color: black;
  background-color: rgb(206, 18, 18);
}
